@import url("../../styles.css");

.authContainer { 
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3rem 1rem 1rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.inputField {
    width: 18rem;
    padding: 0.25rem;
}

.submitButton {
    width: 5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}